:root {
  --Inter-font: "Inter", sans-serif;
  --Rum-font: "Rum Raisin", sans-serif;
  --black-color: #000000;
  --orange-color: #fe531d;
  --white-color: #fff;
  --light-blue: #f0f8f7;
  --light-pink: #fff2f0;
  --fade-black: #222222;
}

@media (max-width: 1919px) {
  h1 {
    font-size: 56px;
  }

  /*! FAQ  */
  .faq-content {
    gap: 80px;
  }
  .faq-queries {
    flex: 0 0 55%;
    max-width: 55%;
  }
  .faq-form {
    flex: 0 0 39%;
    max-width: 39%;
  }
}

@media (max-width: 1599px) {
  .container {
    width: 1150px;
    margin: 0 auto;
  }
  h1 {
    font-size: 47px;
  }

  a {
    font-size: 19px;
  }
  button {
    padding: 15px 46px;
    font-size: 18px;
  }

  .logo-img {
    width: 174px;
    height: 80px;
  }
  .logo {
    flex: 0 0 39%;
    max-width: 39%;
  }

  nav {
    flex: 0 0 61%;
    max-width: 62%;
  }

  .welcome {
    margin-top: 109px;
  }

  /* .download-cow-imgs {
    gap: 20px;
  }
  .cow-imgs .cow-img {
    width: 396px;
    height: 228px;
  } */
  .benifits-one img {
    width: 598px;
  }
  .faq-content {
    gap: 70px;
  }
  .faq-queries {
    flex: 0 0 51%;
    max-width: 51%;
  }
  .faq-form {
    flex: 0 0 42%;
    max-width: 42%;
  }
  /* .download-cow-imgs .slick-prev:before,
  .download-cow-imgs .slick-next:before {
    padding: 0 20px;
    padding-bottom: 9px;
    width: 9px;
  } */
}

@media (max-width: 1846px) {
  .welcome-content .welcome-page-slider {
    flex: 0 0 68%;
    max-width: 68%;
  }
}
@media (max-width: 1678px) {
  .welcome-content .welcome-page-slider {
    flex: 0 0 65%;
    max-width: 65%;
  }
}

@media (max-width: 1608px) {
  .welcome-content .welcome-matter {
    padding: 120px 0;
  }
  .welcome-content .welcome-page-slider {
    flex: 0 0 65%;
    max-width: 62%;
  }
}

@media (max-width: 1589px) {
  .welcome-content .welcome-matter {
    padding: 92px 0;
  }
  .welcome-content .welcome-page-slider {
    flex: 0 0 65%;
    max-width: 61%;
    margin-left: 193px;
  }
}

@media (max-width: 1550px) {
  .welcome-content .welcome-matter {
    padding: 99px 0;
  }
  .welcome-content .welcome-page-slider {
    flex: 0 0 65%;
    max-width: 65%;
    margin-left: 79px;
  }
}

@media (max-width: 1430px) {
  .welcome-content .welcome-page-slider {
    flex: 0 0 60%;
    max-width: 60%;
    margin-left: 80px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 850px;
    margin: 0 auto;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 32px;
  }
  h4 {
    font-size: 17px;
  }
  a {
    font-size: 17px;
  }
  li {
    font-size: 19px;
  }

  nav {
    flex: 0 0 66%;
    max-width: 66%;
  }
  nav ul li button {
    padding: 15px 21px;
  }
  .logo {
    flex: 0 0 31%;
    max-width: 31%;
  }

  /* .cow-imgs .cow-img {
    width: 279px;
    height: 159px;
  } */
  .free-guide-btn {
    margin-bottom: 61px;
  }
  .benifits-one img {
    width: 446px;
  }

  .faq-content {
    gap: 50px;
  }
  form button {
    padding: 23px 26px;
    font-size: 18px;
  }

  .at-title:after {
    content: "";
  }
  .at-title.active:after {
    content: "";
  }

  .close-icon {
    top: 14%;
    right: 28%;
  }

  .about-content {
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .download-cow-imgs .slick-prev {
    left: -46px;
  }
  .team-details {
    padding: 144px 11px 119px 21px;
  }
  .team-sliders .slick-center .team-details {
    padding-bottom: 110px;
  }
  .team-section .team-img {
    height: 157px;
    width: 145px;
    margin: auto;
    margin-bottom: -89px;
  }
  .team-sliders .slick-center h5 {
    font-size: 16px;
  }
  h5 {
    font-family: var(--Inter-font);
    font-weight: 500;
    font-size: 16px;
  }
  .welcome-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 12px;
  }

  .welcome-content .welcome-matter {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  .welcome-content .welcome-page-slider {
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0px;
  }
}
@media (max-width: 970px) {
  .container {
    width: 780px;
    margin: 0 auto;
  }

  h1 {
    font-size: 33px;
  }
  h4 {
    font-size: 16px;
  }

  h2 {
    font-size: 30px;
  }

  h5 {
    font-size: 16px;
  }
  a {
    font-size: 17px;
  }

  button {
    padding: 15px 33px;
  }

  .logo-img {
    width: 172px;
    height: 81px;
  }
  .logo {
    flex: 0 0 30%;
    max-width: 30%;
  }
  nav {
    flex: 0 0 70%;
    max-width: 70%;
  }

  /* .cow-imgs .cow-img {
    width: 247px;
    height: 139px;
  } */

  /* .download-cow-imgs .slick-next {
    right: 8px;
    width: 40px;
    height: 76px;
  } */
  .download-cow-imgs .slick-prev {
    left: -25px;
    z-index: 20;
  }

  .benifits-content {
    flex-direction: column;
  }

  .benifits-one {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
    text-align: center;
  }
  .benifits-one img {
    width: 90%;
  }
  .benifits-two {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .faq-content {
    gap: 40px;
    flex-direction: column;
  }
  .faq-queries {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .faq-form {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .at-tab h6 {
    font-size: 20px;
  }
  .at-title h4 {
    font-size: 21px;
  }
  form button a {
    font-size: 25px;
  }
  form > input {
    padding: 22px 35px;
    font-size: 32px;
  }
  input::placeholder {
    font-size: 25px;
  }
  .petsfolio h5 {
    line-height: 30px;
  }
  .social-media {
    gap: 41px;
  }
  .close-icon {
    top: 12%;
    right: 12%;
  }
  .team-sliders .slick-prev {
    left: -3%;
  }
}

@media (max-width: 806px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  h1 {
    font-size: 29px;
  }
  h4 {
    font-size: 16px;
  }
  button {
    padding: 15px 21px;
  }
  a {
    font-size: 15px;
  }

  #btn {
    padding: 15px 28px;
    font-size: 18px;
  }
  .welcome {
    margin-top: 98px;
  }
  .welcome-content h1 {
    margin-bottom: 16px;
  }
  .logo-img {
    width: 70%;
    height: auto;
  }
  .download-cow-imgs {
    gap: 50px;
    flex-direction: column;
  }
  .cow-imgs .cow-img {
    width: 100%;
    height: auto;
  }
  .download-cow-imgs .slick-dots {
    bottom: -38px;
  }
  .download-cow-imgs .slick-dots li button:before {
    font-size: 13px;
  }
  .download-cow-imgs .slick-dots .slick-active {
    width: 44px;
    height: 10px;
  }

  .welcome-sliders .slick-next {
    right: 10px;
  }

  .team-sliders .slick-prev:before,
  .team-sliders .slick-next:before {
    font-size: 45px;
  }
  .team-sliders .slick-prev {
    left: 5%;
    z-index: 2050;
  }
  .team-sliders .slick-next {
    right: 6%;
  }
  .about-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .benifits-two {
    padding-left: 43px;
  }

  .contact {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .play-store {
    width: 100%;
    height: auto;
  }
  .petsfolio {
    flex: 0 0 100%;
    max-width: 100%;
  }
  p {
    font-size: 11px;
  }
  .popup-faq-form {
    margin: 0 50px;
    min-width: 50%;
  }

  .team-sliders .slick-prev:before,
  .team-sliders .slick-next:before {
    padding: 0 22px;
    padding-bottom: 11px;
    width: 9px;
  }
  .team-sliders .slick-center .team-details {
    margin: 0 50px;
  }
}

@media (max-width: 699px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .navbar {
    flex-direction: column;
    justify-content: space-between;
    padding: 14px 0;
  }
  .welcome-content h4 {
    margin-bottom: 29px;
  }
  .welcome-content .welcome-matter {
    padding: 52px 0;
  }
  .welcome-sliders .slick-prev {
    left: 31px;
    z-index: 20;
  }

  .navbar-hidden {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
  }

  .logo {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  nav {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul {
    padding: 20px 0px;
  }
  nav ul li {
    padding: 20px 0;
    text-align: center;
  }
  form button a {
    font-size: 16px;
  }

  nav ul {
    display: none;
  }
  nav ul li {
    margin-right: 0;
  }
  nav a {
    font-size: 23px;
  }
  .logo-img {
    width: 33%;
    height: auto;
  }
  #icon {
    display: block !important;
    flex: 0 0 50%;
    max-width: 50%;
    text-align: end;
  }
  .fa-solid {
    font-size: 30px;
  }

  /*  .cow-imgs .cow-img {
    width: 100%;
    height: auto;
  } */

  .download-cow-imgs .slick-next {
    right: -16px;
  }

  .play-store {
    width: 100%;
    height: auto;
  }

  .popup-faq-form form > input {
    padding: 10px 9px;
    font-size: 20px;
  }
  .popup-faq-form {
    padding: 30px;
  }
  .popup-faq-form form button {
    padding: 16px 12px;
  }
  input::placeholder {
    font-size: 18px;
  }
  .popup-faq-form button {
    font-size: 18px;
  }
  .close-icon {
    top: 24%;
    right: 17%;
  }
  .team-details::after {
    right: 20%;
    bottom: 10%;
  }
  .team-sliders .slick-center .team-details::after,
  .team-sliders .slick-center .team-details::before {
    width: 23px;
    height: 17px;
  }
}

@media (max-width: 428px) {
  h1 {
    font-size: 25px;
  }
  h4 {
    font-size: 14px;
  }
  button {
    padding: 8px 16px;
  }
  h2 {
    font-size: 18px;
  }

  a {
    font-size: 14px;
  }
  .welcome-content h4 {
    margin-bottom: 37px;
  }
  h5 {
    font-size: 12px;
  }
  .logo-img {
    width: 41%;
  }
  nav ul {
    padding: 20px 0px;
  }
  nav ul li {
    padding: 20px 0;
    text-align: center;
  }

  .team-sliders .slick-dots .slick-active {
    width: 44px;
    height: 16px;
  }
  .team-details::after {
    right: 22%;
    bottom: 20%;
  }
  .team-section .team-img {
    height: 100%;
    width: 44%;
    margin-bottom: -65px;
  }

  .welcome-content .welcome-matter {
    padding: 54px 0;
  }
  .para-none {
    display: none;
  }
  .team-details {
    padding: 76px 27px 1px 36px;
  }
  .team-sliders .slick-center h5 {
    font-size: 15px;
  }

  .team-details::before {
    left: 18%;
  }
  .team-sliders .slick-prev:before,
  .team-sliders .slick-next:before {
    padding: 0px 19px;
    padding-bottom: 7px;
    width: 9px;
  }

  .team-sliders .slick-center .team-details {
    margin: 0 24px;
  }
  .free-guide-btn {
    margin-bottom: 0;
    margin-top: 37px;
  }
  .download-cow-imgs .slick-dots .slick-active {
    height: 14px;
  }
  .download-cow-imgs .slick-dots li button:before {
    font-size: 13px;
    text-align: center;
  }

  .benifits {
    padding: 34px 0;
  }

  nav a {
    font-size: 17px;
  }

  .logo-img {
    width: 31%;
  }

  nav ul li {
    padding: 11px 0;
    text-align: center;
  }
  nav ul {
    padding: 7px 0px;
  }

  li {
    font-size: 17px;
  }
  .download {
    padding: 30px 0 36px 0;
  }
  .team {
    padding: 44px 0;
    background-color: var(--light-blue);
  }
  .team-heading {
    margin-bottom: 18px;
  }
  .team-details {
    padding: 134px 31px 134px 32px;
  }
  .team-sliders .slick-next {
    right: 10%;
  }
  .team-sliders .slick-center .team-details::after,
  .team-sliders .slick-center .team-details::before {
    width: 22px;
    height: 14px;
  }
  h3 {
    font-size: 23px;
  }
  .team-section h3 {
    margin-bottom: 38px;
  }

  .at-title h4 {
    font-size: 14px;
  }
  form button a {
    font-size: 16px;
  }
  .team-sliders .slick-prev {
    left: 2%;
    z-index: 1;
  }
  .team-details {
    padding: 102px 7px 0 8px;
  }
  #btn {
    padding: 11px 19px;
    font-size: 14px;
  }
  .faq {
    padding: 30px 0;
  }
  .about {
    padding: 30px 0 36px 0;
  }
  .at-title {
    padding: 27px 0 30px 22px;
  }
  .at-tab {
    padding: 20px 0 30px 29px;
  }
  .at-title.active:after {
    content: "";
  }
  .at-title:after {
    content: "";
  }
  .at-tab h6 {
    font-size: 12px;
  }
  .faq-form {
    padding: 16px 14px;
  }
  form > input {
    padding: 6px 9px;
    font-size: 15px;
  }
  button {
    font-size: 13px;
  }
  form button {
    padding: 10px 4px;
  }
  .about-content {
    gap: 28px;
  }

  .petsfolio h5 {
    line-height: 20px;
  }
  .petsfolio h3 {
    margin-bottom: 10px;
  }
  .play-store {
    width: 85%;
    height: auto;
  }

  .contact h5 {
    margin-bottom: 2px;
    line-height: 24px;
  }
  .contact #follow {
    margin-top: 18px;
    color: var(--orange-color);
  }

  .social-media {
    gap: 32px;
  }
  p {
    font-size: 6px;
  }

  .popup-faq-form form > input {
    padding: 7px 11px;
    font-size: 13px;
  }
  input::placeholder {
    font-size: 10px;
  }

  .popup-faq-form {
    padding: 13px 11px;
  }
  .popup-faq-form form button {
    padding: 10px 11px;
    font-size: 11px;
  }

  .close-icon {
    top: 29%;
    right: 17%;
  }

  .download-cow-imgs .slick-prev {
    left: -14px;
    z-index: 20;
  }
  .arrow-img {
    width: 31px;
  }
}
